
body {
  margin: 0;
-webkit-font-smoothing: antialiased;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color:#000000;
  text-align: left;
  background-color: #f8f8f8; }

#main-wrapper {
    padding: 10vw 0;
}

.section-title {
    width: 100%;
     margin: 4px 0;
    margin-bottom: 16px;
}
.section-title h2 {
    font-size: 20px;
    font-weight: 700;
    color: #242424;
        line-height: 1.5;
    margin-bottom: 0;
    display: inline-block;
}

.owl-nav button {
    position: absolute !important;
    /* top: 50%; */
    top: calc(50% - 6px);
    height: 45px;
    width: 45px;
    transform: translateY(-50%);
    font-size: 25px !important;
    opacity: 1;
    outline: 0 !important;
    color: #343a40 !important;
    background: white !important;
    color: #FFF;
    text-decoration: none;
    margin: 0 !important;
    border-radius: 100% !important;
    box-shadow: 1px 1px 6px -4px #333;
    border: 1px solid #f5f5f5 !important;
    padding: 0 !important;
    line-height: 0 !important;
    text-align: center;
}
.owl-nav button span {
    font-weight: 700;
    font-size: 20px;
    line-height: 45px;
}
.owl-theme .owl-nav .disabled {
    opacity: 0;
    cursor: default;
}
.owl-theme .owl-nav {
    margin-top: 0 !important;
}
.owl-nav button.owl-prev {
    transform: translate(0, -50%);
    left: -20px;
}
.owl-nav button.owl-next {
    transform: translate(0, -50%);
    right: -20px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: #FFFFFF !important;
    color: #FFF;
    text-decoration: none;
}

.product_section .owl-stage-outer .item {
    padding: 5px;
    display: inline-block;
    width: 100%;
}



.service_card.card {
background: #ffffff;
    clear: both;
    float: left;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(76,76,76,.12), 1px 1px 4px rgba(128,128,128,.24);
    border: none;
    overflow: hidden;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 165px;
    object-fit: cover;
    border-radius: 6px;
    overflow: hidden;
}


.card_img {
    overflow: hidden;
    width: 100%;
    margin-bottom: 0.7em;
}

.service_card h5 {
    margin-bottom: 0.3em;
    font-size: 14px;
    color: #343434;
    font-weight: 400;
    margin: 10px 0 0;
}
.service_card .card-body {
    padding: 1em;
}
.service_card span {
    font-weight: 600;
    color: #dc3545;
}


.card {
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(76,76,76,.12), 1px 1px 4px rgba(128,128,128,.24);
}

ul.list_single {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #e2e2e2;
    text-align: left;
    list-style-type: none;
}

li.product_list_card {
    border-top: 1px solid #e2e2e2;
    width: 100%;
    position: relative;
    z-index: 2;
}
.ListingCardHQ {
    text-align: left;
    padding: 24px 0;
    display: block;
}


.LazyLoadImage {
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 80px;
    position: relative;
}

img.ListingCardHQ__photo {
    display: inline-block;
    vertical-align: top;
    height: 80px!important;
    width: 80px!important;
    border-radius: 50%;
    border: 1px solid #e2e2e2;
    position: absolute!important;
    top: 0;
    position: relative;
    z-index: 3;
    background-color: #f5f5f5!important;
        object-fit: cover;
}


.ListingCard__details {
    display: inline-block;
    margin-left: 24px;
    width: calc(100% - 246px);
        vertical-align: middle;
    
}
.bold{
    width: 100%;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #212121;
        margin-bottom: 4px;
}
.ListingCard__proName {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #212121;
        margin-bottom: 4px;
}
.testimonials_section .ListingCard__proName {
    width: 100%;
    display: inline-block;
    font-weight: 600;
    line-height: 1.5;
    color: #212121;
    font-size: 16px;
}
.testimonials_section p {
    width: 100%;
    font-weight: 400;
    line-height: 1;
    color: #212121;
    font-size: 12px;
    margin: 0;
    display: block;
}
.testimonials_section img.ListingCardHQ__photo {
    height: 100px!important;
    width: 100px!important;
    border-radius: 100%;
    background: #3333;
}

.testimonials_section .LazyLoadImage {
    display: block;
    vertical-align: top;
    width: 102px;
    height: 102px;
    position: relative;
    margin: 0 auto 1rem;
}

.testimonials_section .ListingCard__details {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
